.BlogPage{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.Display{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}